/* body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  .container {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 30px;
    /* display: flex;
    justify-content: center;
    align-items: center;
    width: 900px; /* Adjust width as needed */
  
  input[type="text"] {
    width: 100%;
    /* padding: 10px; */
    border: 1px solid #ccc;
    border-radius: 3px;
    /* box-sizing: border-box; */
    background-color: white;
  }

  h2{
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: rgba(151, 151, 194, 0.1);
  }

  
  #owner-vehicle-container {
    margin-top: 20px;
    padding-top: 10px;
    border-radius: 3px;
    background-color: #eee;
    transition: opacity 0.5s ease-in-out;
    background-color: rgba(166, 166, 197, 0.1);
  }
  /* 
  #owner-vehicle-container.visible {
    opacity: 1;
  }
  
  .owner-details,
  .vehicle-details {
    list-style: none;
    padding: 0;
    margin: 10px 0;
  }
  
  .owner-details li,
  .vehicle-details li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .owner-details li span:first-child,
  .vehicle-details li span:first-child {
    width: 50%;
  } */