<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


	<bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter">
	<property name="messageConverters">
	 	<bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
 		</bean>
	</property>
	</bean>

	<bean id="sessionFactoryBean" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
		<property name="configLocation" value="classpath:hibernate.cfg.xml"></property>
	</bean>
	
	<bean id="roleDAOBean" class="tms.persistence.dao.impl.RoleDAOImpl">
		<constructor-arg ref="sessionFactoryBean"></constructor-arg>
	</bean>
	
	<bean id="userDAOBean" class="tms.persistence.dao.impl.UsersDAOImpl">
		<constructor-arg ref="sessionFactoryBean"></constructor-arg>
	</bean>
	
	<bean id="vehicleDAOBean" class="tms.persistence.dao.impl.VehicleDAOImpl">
		<constructor-arg ref="sessionFactoryBean"></constructor-arg>
	</bean>
	
	<bean id="ownerDAOBean" class="tms.persistence.dao.impl.OwnerDAOImpl">
		<constructor-arg ref="sessionFactoryBean"></constructor-arg>
	</bean>
	
	<bean id="offTypeDAOBean" class="tms.persistence.dao.impl.OffenseTypeDAOImpl">
		<constructor-arg ref="sessionFactoryBean"></constructor-arg>
	</bean>
	
	<bean id="regDAOBean" class="tms.persistence.dao.impl.RegistrationDAOImpl">
		<constructor-arg ref="sessionFactoryBean"></constructor-arg>
	</bean>
	
	<bean id="offDetailDAOBean" class="tms.persistence.dao.impl.OffenseDetailDAOImpl">
		<constructor-arg ref="sessionFactoryBean"></constructor-arg>
	</bean>

</beans>
