<h1 id="heading">View Offenses</h1>

<div class="searchBox">
<form [formGroup]="viewOffense" (ngSubmit)="onSubmit()">

    <label style="margin-right: 30px;" for="registration-no">Registration No:<span class="text-danger">*</span></label>
    <input type="text" id="registration-no" style="margin-right: 30px;" formControlName="registrationNo" placeholder="Enter registration number" required>
  <button class="btn btn-primary" type="submit" [disabled]="isLoading || !viewOffense.valid">Search Offenses</button>
</form>
</div>
 
<div *ngIf="isLoading">
  Loading offenses...
</div>



<div *ngIf="offenseData.length > 0" id="offense-table-container">
  <table mat-table [dataSource]="offenseData" class="mat-elevation-z1">

    <!-- Offense detail id Column -->
    <ng-container matColumnDef="offenseDetailId">
      <th mat-header-cell *matHeaderCellDef> Offense detail id </th>
      <td mat-cell *matCellDef="let offense"> {{ offense.offenseDetailId }} </td>
    </ng-container>
  
    <!-- Offense date time Column -->
    <ng-container matColumnDef="dateTime">
      <th mat-header-cell *matHeaderCellDef> Offense date time </th>
      <td mat-cell *matCellDef="let offense"> {{ offense.dateTime }} </td>
    </ng-container>
  
    <!-- Place Column -->
    <ng-container matColumnDef="place">
      <th mat-header-cell *matHeaderCellDef> Place </th>
      <td mat-cell *matCellDef="let offense"> {{ offense.place }} </td>
    </ng-container>
  
    <!-- Image Column -->
    <!-- <ng-container matColumnDef="image">
      <th mat-header-cell *matHeaderCellDef> Image </th>
      <td mat-cell *matCellDef="let offense"> {{ offense.image }} </td>
    </ng-container> -->
  
    <!-- Registration id Column -->
    <ng-container matColumnDef="registrationID">
      <th mat-header-cell *matHeaderCellDef> Registration id </th>
      <td mat-cell *matCellDef="let offense"> {{ offense.registration.registrationID }} </td>
    </ng-container>
  
    <!-- Offense id Column -->
    <ng-container matColumnDef="offenseId">
      <th mat-header-cell *matHeaderCellDef> Offense id </th>
      <td mat-cell *matCellDef="let offense"> {{ offense.offense.offenseId }} </td>
    </ng-container>
  
    <!-- Recorded by Column -->
    <ng-container matColumnDef="recordedBy">
      <th mat-header-cell *matHeaderCellDef> Recorded by </th>
      <td mat-cell *matCellDef="let offense"> {{ offense.user.userId }} </td>
    </ng-container>
  
    <!-- Penalty status Column -->
    <ng-container matColumnDef="penaltyStatus">
      <th mat-header-cell *matHeaderCellDef> Penalty status </th>
      <td mat-cell *matCellDef="let offense"> {{ offense.penaltyStatus }} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="['offenseDetailId', 'dateTime', 'place', 'registrationID', 'offenseId', 'recordedBy', 'penaltyStatus']"></tr>
    <tr mat-row *matRowDef="let row; columns: ['offenseDetailId', 'dateTime', 'place', 'registrationID', 'offenseId', 'recordedBy', 'penaltyStatus'];"></tr>
  
  </table>
</div>


<div *ngIf="!isLoading && !offenseData.length">
  No outstanding offenses found.
</div>
